<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs399.hewitt_m_kahn_a_lara_k_anagram">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.cs399.hewitt_m_kahn_a_lara_k_anagram.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cs399.hewitt_m_kahn_a_lara_k_anagram.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.example.cs399.hewitt_m_kahn_a_lara_k_anagram.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cs399.hewitt_m_kahn_a_lara_k_anagram.MainActivity" />
        </activity>
        <activity android:name="com.example.cs399.hewitt_m_kahn_a_lara_k_anagram.NewGameActivity" />
        <activity android:name="com.example.cs399.hewitt_m_kahn_a_lara_k_anagram.ResultsActivity" />
        <activity android:name="com.example.cs399.hewitt_m_kahn_a_lara_k_anagram.ChallengeActivity" />
        <activity android:name="com.example.cs399.hewitt_m_kahn_a_lara_k_anagram.EasyActivity" />
    </application>

</manifest>